<Files ~ "\.sqlite$">
    Order allow,deny
    Deny from All
</Files>

<Files ~ "\.config$">
    Order allow,deny
    Deny from all
</Files>

<Files ~ "\.log$">
    Order allow,deny
    Deny from all
</Files>

# cors
# solo permite un dominio CORS en el encabezado
#Header set Access-Control-Allow-Origin "https://giscorporativo.com.pe"
#Header set Access-Control-Allow-Origin "*"
# Si se necesita poner varios dominios aplicar este truco 
# url-origen https://ma.ttias.be/set-access-control-allow-origin-cors-headers-apache-vhost-htaccess/
# url-origen https://gist.github.com/brianlmoon/2291111c5c69252c85f4
#SetEnvIf Origin "^http(s)?://(.+\.)?(giscorporativo.com.pe|widgetreportuapportal.herokuapp.com|giscorporativo.com|gisem.osinergmin.gob.pe)$" AccessControlAllowOrigin=$0
#Header set Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
# Always set Vary: Origin when it's possible you may send CORS headers
#Header merge Vary Origin
#
#Header always set Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin

#Header set Referrer-Policy "origin"
# direccionar de http a https
#Header set Strict-Transport-Security "max-age=31536000; preload"
# la pag no sera usado en ifreme 
#Header always set X-Frame-Options "SAMEORIGIN"
