<?xml version="1.0" encoding="utf-8" ?>

<!-- <ProxyConfig allowedReferers="https://widgetreportuapportal.herokuapp.com/,giscorporativo.com.pe/*,giscorporativo.com/*, https://gisem.osinergmin.gob.pe/*" -->
<ProxyConfig allowedReferers="*"
             logFile="proxy_log.log"
             mustMatch="false">
    <serverUrls>
        <!-- Para Prod 01 -->
        <serverUrl 
            url= "https://gisem.osinergmin.gob.pe/serverdc/rest/services/"
            username="portaladmin"
            password="Os1n3rgm1n"
            rateLimit="6000"
            rateLimitPeriod="60"
            matchAll="true"
        />

        <!-- Para Prod 04 -->
        <serverUrl 
            url= "https://services5.arcgis.com/oAvs2fapEemUpOTy/arcgis/rest/services/"
            username="DSGN_TDGN"
            password="Lima2019$"
            rateLimit="6000"
            rateLimitPeriod="60"
            matchAll="true"
        />

        <!-- Para Prod 05-->
        <serverUrl 
            url= "https://services5.arcgis.com/oAvs2fapEemUpOTy/"
            username="soporte_gse1"
            password="es1nuevaclave"
            rateLimit="6000"
            rateLimitPeriod="60"
            matchAll="true"
        />

        <!-- Mi Agol personal (PreslyRomero)-->
        <serverUrl 
            url= "https://services9.arcgis.com/jGRVUQYaPBz6LP43/"
            username="PreslyRomero"
            password="presley_developer2020"
            rateLimit="6000"
            rateLimitPeriod="60"
            matchAll="true"
        />

        <serverUrl 
            url= "https://sigrid.cenepred.gob.pe/arcgis/rest/services/"            
            rateLimit="600000"
            rateLimitPeriod="180"
            matchAll="true"
        />

        <serverUrl 
            url= "https://gisem.osinergmin.gob.pe/serverdc/rest/services/"            
            username="portaladmin"
            password="Os1n3rgm1n"
            rateLimit="6000"
            rateLimitPeriod="60"
            matchAll="true"
        />
        
        <!--url= "http://fakedomain4321/"
            hostRedirect="https://gisem.osinergmin.gob.pe/serverdc/rest/services/"
        -->
        <!-- <serverUrl 
            url= "https://gisem.osinergmin.gob.pe/"
            oauth2Endpoint= "https://gisem.osinergmin.gob.pe/sharing/oauth2"
            clientId = "cwT6rkgEWRVAuUf1"
            clientSecret= "966a58f22f9945379ba080ac65bff6f0"
            rateLimit="120"
            rateLimitPeriod="60"
            matchAll="true"
        /> -->
    </serverUrls>
</ProxyConfig>
<!-- See https://github.com/Esri/resource-proxy for more information -->
